body {
  font-family: arial, sans-serif;
  background-color: #eaecf9;
}

.container {
  clear: both;
  padding-top: 20px;
  box-sizing: border-box;
  position: relative;
  min-height: 100vh;
}

.weather-app-wrapper {
  max-width: 652px;
  margin: 30px auto;
}

.weather-app {
  background:  linear-gradient(360deg, hsla(148, 89%, 78%, 1) 0%, hsla(210, 81%, 22%, 1) 100%);
  
  max-width: 652px;
  border: 1px solid #9ea0a3;
  border-radius: 10px;
  padding: 20px;
}


         
     .btn{
      background-image: linear-gradient(to right, #1D976C 0%, #93F9B9  51%, #1D976C  100%);
      text-align: center;
      transition: 0.5s;
      background-size: 200% auto;
      color: white;            
      box-shadow: 0 0 20px #eee;
      border-radius: 10px;
      display: block;
    }

    .btn:hover {
      background-position: right center; /* change the direction of the change here */
      color: #fff;
      text-transform: uppercase;
      text-decoration: none;
    }
   

  


h1 {
  color: #202124;
  font-size: 22px;
  line-height: 26px;
  padding-bottom: 16px;
}

h2 {
  color: #202124;
  font-size: 22px;
  line-height: 26px;
  margin: 0px;
}
h3 {
  color:  rgb(35, 35, 36);
  font-size: 16px;
  line-height: 20px;
  margin: 0px;
}

a {
  text-decoration: none;
}
.col-6.info {
  color:  rgb(35, 35, 36);
  display: inline-block;
  font-size: 12px;
  line-height: 16px;
  padding-left: 9px;

  text-align: right;
}

.col-3 {
  padding: 0px;
}

.col-3 .units {
  position: relative;
  font-size: 16px;
  top: -30px;
}

.weather-temperature img {
  vertical-align: middle;
  position: relative;
  top: -6px;
}
li {
  list-style: none;
}

.weather-temperature .active {
  color: #202124;
  cursor: default;
}

.forecast {
  text-align: center;
}
.weather-temperature .active:hover {
  text-decoration: none;
}

.wind{
  padding-right: 13px;
}

.humidity{
  padding-right: 5px;
}




#parameters,
#weatherDescr {
  padding: 0px;
  color:  rgb(35, 35, 36);
  display: inline-block;
  font-size: 12px;
  line-height: 16px;
  padding-left: 9px;
  padding-top: 6px;
}
#weatherDescr {
  padding-top: 0px;
  font-size: 16px;
  line-height: 20px;
}

#temperatures {
  font-size: 48px;
  font-weight: 400;
  line-height: 1;
}
#celsium,
#units {
  font-size: 16px;
}

#celsium {
  position: relative;
  top: 3px;
}

#units {
  position: relative;
  top: 5px;
}

#description, #weatherDescr::first-letter {
  text-transform: capitalize;
}


